@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-gradient-to-right {
    background: linear-gradient(
      to bottom right,
      #3ca2fb 6%,
      #1e3a8a 89%,
      #2962b6 49%
    );
  }
}
body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
